# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- SQL
- R
- GitHub
- Jupyter

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- Keras

| Data Science Tools |
| ------------------ |
| Data Visualization |
| Model Building |
| Model Deployment |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
"This a simple arithmetic expression to mutiply then add integers"
(3*4)+5

17

In [9]:
"This will convert 200 minutes to hours by diving by 60"
200/60

3.3333333333333335

## Author
Ameer Ashraf